<app-sidebar></app-sidebar>
<main>
    <div class="mt-2" *ngIf="ListCompra&& tipo == 'vista'">
        <div class="row mt-3 mb-2" style="color: white;">
            <div  style="width: 90%; border: 1px solid #EC808D; color: #750036; background-color: #DAC0CF;">
                <b style="vertical-align: middle;">||Ingreso de materias primas"</b>
              </div> 
        </div>
        <div class="row mt-3 mb-5" style="color: white;">
            <div class="col-5">
                <div class="row">
                    <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                        Tipo de Documento:
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" >
                        Factura
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                        Nro de Documento:
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        {{ListCompra.nFactura}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="color: white;">
            <div class="col-6">
                <div class="row mb-3">
                    <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                        Fecha:
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        {{ListCompra.fecha}}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                        Proveedor:
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        {{ListCompra.proveedor}}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                        Recibio:
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        {{ListCompra.recibe}}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                        Observación:
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        {{ListCompra.observacion}}
                    </div>
                </div>
            </div>
            <div class="col-6" style="text-align: center;" >
                <img src="{{ListCompra.proveedor_imagen}}" class="rounded-circle" style="margin: auto;width: 130px !important;">      
            </div>
        </div>
        <div class="row" style="color: white; ">
            <div class="col-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border" style="font-weight: bolder;">Productos entregados</legend>
                    <div class="control-group">
                        <div class="col-12">
                            <div class="row">
                                <table class="table">
                                    <thead style="background-color: #DAC0CF;">
                                        <tr >
                                            <th id="no">#</th>
                                            <th>Nombre</th>
                                            <th id="no4">Cantidad</th>
                                            <th id="no3">Plagas</th>
                                            <th id="no2">M. Extrañas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let u of ListDetalles; index as i">
                                                <td class="bordesid"id="no"     style=" text-align: center;">
                                                    <img src="{{u.materia_prima_imagen}}" alt="" style="width: 30px;">
                                                </td>
                                                <td class="bordes"              style=" text-align: center;">{{u.materia_prima_nombre}}</td>
                                                <td class="bordes"  id="no4"    style=" text-align: center;">{{u.cantidad_prima}}</td>
                                                <td class="bordes"  id="no3"    style="text-align: center;">
                                                    <p *ngIf="u.plagas == 1"> Existente</p>
                                                    <p *ngIf="u.plagas == 0"> No existente</p>
                                                </td>
                                                <td class="bordes"  id="no2"    style="text-align: center;">
                                                    <p *ngIf="u.materias_extranas == 1"> Existente</p>
                                                    <p *ngIf="u.materias_extranas == 0"> No existente</p>
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 mb-2" style=" text-align: center !important;">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 mb-2" style=" text-align: center !important;">
                <div class="row">
                    <div class="col mb-2 mt-2">
                    </div>
                    <div class="col mb-2 mt-2">
                    </div>
                    <div class="col mb-2 mt-2">                
                        <button class="boton form-control" routerLink="/compra/prima">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2" *ngIf="tipo == 'crear'">
        <div class="card" style="position: inherit">
            <div class="card-header">
                <h4>Comprar Materia Prima</h4>
            </div>
            <div class="card-body">
              <form class="mb-3" [formGroup]="InPrima">
                <div class="row">
                  <div class="col-6">
                    <div class="row mb-5">
                      <div class="dato2 col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                          Numero Factura:
                      </div>
                      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                          <input type="text" class="form-control" formControlName="nFactura" >
                      </div>
                    </div>
                    <div class="row mb-5">
                      <div class="dato2 col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                          Proveedor:
                      </div>
                      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        <select class="form-control" id="sel1"  formControlName="proveedor_id" id="provincia" name="provincia" >
                            <option *ngFor="let p of ListProveedores" [ngValue]="p.id">{{p.nombre}}</option>
                        </select>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-6">
                    <div class="row mb-5">
                        <div class="dato2 col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                            Doc. Completa:
                        </div>
                        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                            <input type="text" class="form-control" formControlName="doc_completa" >
                        </div>
                      </div>
                      <div class="row mb-5">
                        <div class="dato2 col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                          Observaciones:
                        </div>
                        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                          <input type="text" class="form-control" formControlName="observacion" >
                        </div>
                      </div>
                  </div>
                </div>
              </form>
              <div class="row">
                  <div class="col-8">
                    <div class="row mb-5">
                      <div class="dato2 col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                          Producto:
                      </div>
                      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                          <select class="form-control" id="sel1" [(ngModel)]="producto_id" >
                            <option *ngFor="let p of ListProductos" [ngValue]="p.id">{{p.nombre}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <button class="boton form-control" (click)="agregar(producto_id)">Agregar</button>
                  </div>
              </div>
              <div class="row">
                <table class="table">
                    <thead style="background-color: #DAC0CF;">
                        <tr >
                            <th id="no">#</th>
                            <th>Nombre</th>
                            <th id="no4">Cantidad</th>
                            <th id="no2">Plagas</th>
                            <th id="no3">M. Extrañas</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of ListCarrito; index as i">
                                <td class="bordesid"id="no"     style=" text-align: center;">{{i+1}}</td>
                                <td class="bordes"              style=" text-align: center;">{{u.materia_prima_nombre}}</td>
                                <td class="bordes"  id="no4"    style=" text-align: center;">{{u.cantidad_materias}}</td>
                                <td class="bordes"  id="no3"    style="text-align: center;">
                                    <p *ngIf="u.plagas==1">Ausencia</p>
                                    <p *ngIf="u.plagas==0">Existencia</p>
                                </td>
                                <td class="bordes"  id="no2"    style="text-align: center;">
                                    <p *ngIf="u.materias_extranas==1">Ausencia</p>
                                    <p *ngIf="u.materias_extranas==0">Existencia</p>
                                </td>
                                <td class="bordes"  style="text-align: center;" >
                                    <fa-icon [icon]="faCoffee" class="mr-2 ml-2" (click)="idcarritoprima(u) " data-toggle="modal" data-target="#exampleModalCenter" ></fa-icon>
                                    <fa-icon [icon]="Remove" class="mr-2 ml-2" (click)="deletecarrito(u.id)"></fa-icon>
                                </td>
                        </tr>
                    </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 mb-2" style=" text-align: center !important;">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 mb-2" style=" text-align: center !important;">
                    <div class="row">
                        <div class="col">
                            <button class="boton form-control" (click)="comprar()">Comprar</button>
                        </div>
                        <div class="col">                
                            <button class="boton form-control"  routerLink="/compra/prima">Regresar</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</main>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="margin: auto;">Registro de Etapas:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
            <div class="modal-body">
                <div class="row" style="color: white;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="CarritoUpdate">
                                    <div class="row mb-2 mt-2">
                                        <div class="dato col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            Cantidad:
                                        </div>
                                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input type="number" class="form-control" formControlName="cantidad_materias" >
                                        </div>
                                    </div>
                                    <div class="row mb-2 mt-2">
                                        <div class="dato col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            Plagas:
                                        </div>
                                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <select  class="form-control" formControlName="plagas">
                                                <option value="1">Ausencia</option>
                                                <option value="0">Existencia</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-2 mt-2">
                                        <div class="dato col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            M. Extraños:
                                        </div>
                                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <select  class="form-control" formControlName="materias_extranas">
                                                <option value="1">Ausencia</option>
                                                <option value="0">Existencia</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-2 mt-2">
                                        <div class="dato col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            Integridad:
                                        </div>
                                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input type="text" class="form-control" formControlName="integridad" >
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                                <div class="row">
                                    <div class="col">
                                        <button class="boton form-control" (click)="actualizar()" data-dismiss="modal">Guardar</button>
                                    </div>
                                    <div class="col">
                                        <button class="boton form-control" data-dismiss="modal">Regresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>