<app-sidebar></app-sidebar>
<main>

    <div class="container mt-3">
        <div class="row mt-3 mb-3">
        </div>
        <div class="card" style="position: inherit">
            <div class="card-header">
                <h4>Lista de Proveedores</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12" style="display: flex;  justify-content: flex-end;">
                        <button class="boton form-control" routerLink="crear">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="container mb-3">
                <table class="table">
                    <thead>
                        <tr >
                            <th id="no">#</th>
                            <th>Nombre</th>
                            <th id="no4">RUC</th>
                            <th id="no3">Telefono</th>
                            <th id="no2">Tipo</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of Listproveedores; index as i">
                                <td class="bordesid"id="no"     style=" text-align: center;">{{i+1}}</td>
                                <td class="bordes"              style=" text-align: center;">{{u.nombre}}</td>
                                <td class="bordes"  id="no4"    style=" text-align: center;">{{u.ruc}}</td>
                                <td class="bordes"  id="no3"    style="text-align: center;">{{u.telefono}}</td>
                                <td class="bordes"  id="no2"    style="text-align: center;">{{u.tipo}}</td>
                                <td class="bordes"  style="text-align: center;" routerLink="{{u.id}}"><fa-icon [icon]="faCoffee" ></fa-icon></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>
