<app-sidebar></app-sidebar>
<main>
  <div class="container mt-3">
    <div *ngIf="tipo =='crear'">
      <div class="card" style="position: inherit">
        <div class="card-header">
            <h4>Agregar Usuario</h4>
        </div>
        <div class="card-body">
          <form class="mb-3" [formGroup]="UsuarioCreateForm">
            <div class="row">
              <div class="col-6">
                <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Imagen:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                      <input type="text" class="form-control" formControlName="imagen_user" >
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Autoriz:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <select class="form-control" id="sel1" formControlName="autorizado" >
                      <option value=1>Habilitado</option>
                      <option value=0>Deshabilitado</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Rol:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <select class="form-control" id="sel1" formControlName="rol" >
                      <option value="Administrador">Administrador</option>
                      <option value="Jefe de Area">Jefe de Area</option>
                      <option value="Jefe de Almacen">Jefe de Almacen</option>
                      <option value="Empleado">Empleado</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Password:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                      <input type="text" class="form-control" formControlName="password" >
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Nombre:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                      <input type="text" class="form-control" formControlName="name">
                  </div>
              </div>
              <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Email:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                      <input type="text" class="form-control" formControlName="email">
                  </div>
              </div>
              <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      DNI:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                      <input type="text" class="form-control" formControlName="dni">
                  </div>
              </div>
              <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Área:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <select class="form-control" id="sel1" formControlName="area" >
                      <option value="Ingreso">Ingreso</option>
                      <option value="Produccion">Produccion</option>
                      <option value="Ventas">Ventas</option>
                      <option value="Jefe">Jefe</option>
                    </select>
                  </div>
              </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 mb-2" style=" text-align: center !important;">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 mb-2" style=" text-align: center !important;">
                <div class="row">
                    <div class="col">
                        <button class="boton form-control" (click)="crear()">Agregar</button>
                    </div>
                    <div class="col">                
                        <button class="boton form-control"  routerLink="/usuarios">Regresar</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="tipo =='update'"> 
      <div class="card" style="position: inherit">
        <div class="card-header">
            <h4>Actualizar Usuario</h4>
        </div>
        <div class="card-body">
          <form class="mb-3" [formGroup]="UsuarioForm">
            <div class="row">
              <div class="col-5">
                <div class="row mb-3">
                  <div class="col-12" style="text-align: center;">
                    <img src="{{UsuarioForm.value.imagen_user}}"  
                      aling="is-centered" style="width: 150px;">
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Imagen:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                      <input type="text" class="form-control" formControlName="imagen_user" >
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Autoriz:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <select class="form-control" id="sel1" formControlName="autorizado" >
                      <option value=1>Habilitado</option>
                      <option value=0>Deshabilitado</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Rol:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <select class="form-control" id="sel1" formControlName="rol" >
                      <option value="Administrador">Administrador</option>
                      <option value="Jefe de Area">Jefe de Area</option>
                      <option value="Jefe de Almacen">Jefe de Almacen</option>
                      <option value="Empleado">Empleado</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Nombre:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                      <input type="text" class="form-control" formControlName="name">
                  </div>
              </div>
              <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Email:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                      <input type="text" class="form-control" formControlName="email">
                  </div>
              </div>
              <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      DNI:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                      <input type="text" class="form-control" formControlName="dni">
                  </div>
              </div>
              <div class="row mb-5">
                  <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                      Área:
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <select class="form-control" id="sel1" formControlName="area" >
                      <option value="Ingreso">Ingreso</option>
                        <option value="Produccion">Produccion</option>
                        <option value="Ventas">Ventas</option>
                        <option value="Jefe">Jefe</option>
                    </select>
                  </div>
              </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 mb-2" style=" text-align: center !important;">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 mb-2" style=" text-align: center !important;">
                <div class="row">
                    <div class="col">
                        <button class="boton form-control" (click)="actualizar()">Agregar</button>
                    </div>
                    <div class="col">                
                        <button class="boton form-control"  routerLink="/usuarios">Regresar</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


      
         
    
    
    
    
