main {
    color: rgb(218, 192, 207);
    margin-left: 5rem;
    padding: 1rem; 
}
.dato{
    color: #000;
    font-weight: bolder;
}

@media only screen and (max-width:599px){
    main{
        margin-right: 0%;
        margin-left: 0%;
        margin-top: 5rem;
        width: 100%;
    }
}
input{
    border: 1px solid #309EAE;
    background-color: #F2F2F2;
    width: 100%;
}
select{
    border: 1px solid #309EAE;
    background-color: #F2F2F2;
    width: 100%;
    color: black;
}
.form-control{
    color: black;
    font-weight: bold;
}
.form-control:disabled{
    background-color: #309EAE;
    color: black;
    font-weight: bold;
    border-color: 1px solid #309EAE;
}


.col-lg-3 ,.col-xl-3,.col-lg-2 ,.col-xl-2,.col-md-3,.col-md-2,.col-9 ,.col-sm-9
,.col-12 ,.col-sm-12 ,.col-md-6 ,.col-lg-6 ,.col-xl-6,.col-md-12,.col-md-9,.col-5,.col-4,.col-6{
    position: initial;
}
